{% extends "EkreativeAppsBundle::base.html.twig" %}


{% block body %}
<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="{{path('ekreative_apps_homepage')}}">All apps</a></li>
</ul>

hello
{% endblock %}