<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css"></style>
</head>
<body>
<div style="text-align: center;margin: 0 auto;margin-top: 50px;">
    <a class="btn btn-success" href="{{ urlPlist }}">
        Install {{ app.getFolder().getName() }} v{{ app.getVersion() }}
    </a>
</div>
</body>
</html>