<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="{{asset('bundles/ekreativeapps/css/bootstrap.css')}}" rel="stylesheet">
        <style>
            .content{
                width: 1030px;
                margin: 0 auto;
                margin-top: 100px;
                margin-bottom: 100px;
            }

            .login-form{
                width: 200px;
            }
            
            
            .forminline{
                float: left;
            }
            
            .top10{
                margin-top: 10px;
            }
            .ios.appbox {
                float: none;
                border-top: 1px solid gray;
                padding-top: 10px;
                margin-bottom: 10px;
            }
            .apps_wrapper .ios.appbox:first-child {
                border-top: none;
            }
            .ios.appbox .lastmodiffed{
                text-align: left;
            }
            
            
            {% block stylesheets %}{% endblock %}
            
        </style>
        
        
    </head>
    <body>
        <div class="content">
            {% block body %}{% endblock %}
                <div style="clear: both;"></div>
        </div>
    </body>
</html>