<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .content{
                width: 1030px;
                margin: 0 auto;
                margin-top: 100px;
                margin-bottom: 100px;
            }

            .login-form{
                width: 200px;
            }
            
            .appbox{
                z-index: 0;
                max-width: 200px;
                float: left;
                margin-bottom: 20px;
                max-height: 303px;
                background-color: white;
            }
            
            
            .appbox .more{
                display: none;
                border: 1px solid transparent;
                background-color: white;
                z-index: 0;
                position: absolute;
            }
            .appbox:hover .more{
                display: block;
                z-index: 3;
                border: 1px solid #999999;
            }
            
            .appbox .lastmodiffed{
                font-weight: bold;
                text-align: center;
            }
            .appbox .comment-place{
                 width: 200px;
                 padding: 5px;
            }
            .appbox .delete-place{
                margin-top: 10px;
                text-align: center;
                margin-bottom: 10px;
            }
            
            .appbox a{
                text-overflow: ellipsis;
                max-width: 205px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
            }
            .forminline{
                float: left;
            }
            
            .top10{
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            {% block body %}{% endblock %}
                <div style="clear: both;"></div>
        </div>
    </body>
</html>